<a href="https://colab.research.google.com/github/trishalimbo18/Work/blob/main/mypython20211011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **python Data Type**

DATE: 2021011

ENGLISH NAME: Trisha Joyce N. Limbo

CHINESE NAME: 乔伊 4100E219

# **1_Numerics Data Type**

# **Arithmetic operators**

In [1]:
a = 25 / 7
a

3.5714285714285716

In [2]:
b = 25 // 7
b

3

In [3]:
c = 25 % 7
c

4

25 = 7*3 + 4 (remainder)

# **Logical operators**

In [4]:
x = 10
print(x > 6 and x < 20)

True

x = 10 ==> [x > 6] true

[x < 20] true

[x > 6] and [x < 20] ==> True and true ==> true

In [5]:
x = 10
print(x > 6 and x > 20)

False

x = 10 ==> [x > 6] Ture | [x>20] False

[True] and [False] ==> False

[True] and [True] ==> True

[True] and [False] ==> False

[False] and [True] ==> False

[False] and [False] ==> False

# **Built-in functions**

In [11]:
bin(18)

'0b10010'

In [12]:
0b10010

18

# **2_string data type**

# **operation on strings**
index

In [17]:
var1 = 'Trisha Joyce!'
print("var1[2]: ", var1[2])

var1[2]:  i

var1[2]: i

var1 = 'Trisha Joyce!'

var1[0] ==> T

var1[1] ==> r

var1[2]: i

and so on

# **slice operation**

In [19]:
b = "Hello, Trisha!"
#print(b[2:4])
#print(b[:5])
#print(b[1:])
print(b[-4:-1])

sha

# **Python string method**

In [20]:
txt = "hello, my name is Trisha Joyce."

x = txt.capitalize()

print (x)

Hello, my name is trisha joyce.

# **Python String join() Method**

In [21]:
myTuple = ("Trisha", "Aira", "Kim")

x = "#".join(myTuple)

print(x)

Trisha#Aira#Kim

In [27]:
txt = "grapes"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

grapes               is my favorite fruit.

In [28]:
txt = "     grapes     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits grapes      is my favorite

# **3_list data type**

In [42]:
list1 = [10, 65, 23, 17, 30, 97, 120]
list1[2]

23

list1 = [10, 65, 23, 17, 30, 97, 101, 105]

index of list 

list1 [0] ==> 10

list1 [2] ==> 65

list1 [3] ==> 23

and so on...

# **slice operation**

In [43]:
list1[2:4]

[23, 17]

# **list built-in functions**

In [45]:
len(list1)

7

In [46]:

max(list1)

120

In [47]:
min(list1)

10

# **4_dict data type**

In [48]:
thisdict = {
    "Name": 'Trisha', 
    "Age": 20, 
    "Country": 'Philippines'
    }
print(thisdict)

{'Name': 'Trisha', 'Age': 20, 'Country': 'Philippines'}

In [49]:
dict = {'Name': 'Trisha', 'Age': 20, 'Country': 'Philippines'}
print("dict['Country']: ", dict['Country'])

dict['Country']:  Philippines