<a href="https://colab.research.google.com/github/trishalimbo18/Work/blob/%E4%B9%94%E4%BC%8A-4100E219/WORK3_20212010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATE: 20212010

ENGLISH NAME: Trisha Joyce N. Limbo

CHINESE NAME AND KSU ID: 喬伊 4100E219


# **Simple test**

In [6]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 3 to 15 is", sum(3, 16)) 
    print("Sum from 18 to 45 is", sum(42, 46))
    print("Sum from 42 to 53 is", sum(42, 55))

main() # Call the main function

Sum from 3 to 15 is 117
Sum from 18 to 45 is 174
Sum from 42 to 53 is 624

In [5]:
def sum(i1, i2, i3):
    result = 0
    for i in range(i1, i2, i3):
        result += i
    return result

def main():
    print("Sum from 3 to 15 is", sum(3, 16, 1)) 
    print("Sum from 18 to 45 is", sum(18, 46, 2))
    print("Sum from 42 to 53 is", sum(42, 54, 3))

main() # Call the main function

Sum from 3 to 15 is 117
Sum from 18 to 45 is 434
Sum from 42 to 53 is 186

In [11]:
def sum(t1, t2, t3):
    result = 0
    for t in range(t1, t2, t3):
        result += t
    return result

def main():
    print("Sum1", sum(3, 16, 1)) 
    print("Sum2", sum(18, 46, 2))
    print("Sum3", sum(42, 54, 3))

main() # Call the main function

Sum1 117
Sum2 434
Sum3 186

In [12]:
def swap(t,j):
  t,j = j,t
  return (t,j)

if __name__ == '__main__':
    t = 18
    j = 25
    print('t = %d,j = %d' % (t,j))
    t,j = swap(t,j)
    print('t = %d,j = %d' % (t,j))

t = 18,j = 25
t = 25,j = 18

In [13]:
def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(18, 28)

print("num1 is", num1)
print("num2 is", num2)

num1 is 18
num2 is 28

In [16]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 

num1, num2, num3  = sort(18,28,45)

print("num1 is", num1)
print("num2 is", num2)
print("num2 is", num3)

num1 is 18
num2 is 28
num2 is 45

In [21]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 18, height = 20):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

# **Use Default Arguments**

In [22]:
printArea()

width: 18 	height: 20 	area: 360

# **use Keyword arguments**

In [33]:
printArea(width = 18, height = 20)

width: 18 	height: 20 	area: 360

In [32]:
printArea(height = 20, width = 18)

width: 18 	height: 20 	area: 360

# **use Positional arguments**

In [31]:
printArea(18,20)

width: 18 	height: 20 	area: 360

In [29]:
printArea(20,18)

width: 20 	height: 18 	area: 360

# **Power of Lambda Function**

In [35]:
t1 = lambda x, y, z: x+3*y+4*z
print(t1(6,5,8))

53

In [36]:
def myfunc(m):
    return m*m

my_list = [7, 10, 15, 19, 22]

## 使用python的map()

print(list(map(lambda x:myfunc(x), my_list)))

[49, 100, 225, 361, 484]